@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	box-sizing: border-box;
	text-decoration-skip-ink: auto;
}

body {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	margin: 0 auto;
	width: 90vw;
	max-width: 1000px;
	line-height: 1.5;
}

h1 {
	font-size: 5em;
	text-align: center;
}

img {
	max-width: 100%;
}

section:nth-child(2n - 1):before {
	background: #F0F7F0;
	content: '';
	position: absolute;
	top: 0;
	left: calc(-50vw);
	bottom: 0;
	z-index: -1;
	width: 200vw;
}

section {
	position: relative;
	padding: 40px;
}

figure {
	max-width: 600px;
	margin: 20px auto;
	border: 4px solid currentColor;
	border-radius: 2px;
	padding: 40px 40px;
	background: #FCECEE;
	color: #E53F51;
}

figure:nth-of-type(7n) {
	color: #7561C1;
	background: #F1EFF9;
}

figure:nth-of-type(7n-1) {
	color: #FFCE03;
	background: #FFFAE6;
}

figure:nth-of-type(7n-2) {
	color: #CB5699;
	background: #FAEEF5;
}

figure:nth-of-type(7n-3) {
	color: #64AD66;
	background: #F0F7F0;
}

figure:nth-of-type(7n-4) {
	color: #9440A0;
	background: #F4ECF6;
}

figure:nth-of-type(7n-5) {
	color: #318CE7;
	background: #EAF4FD;
}

figure img {
	border: 2px solid currentColor;
	width: 100%;
	display: block;
}

figcaption {
	color: #000;
	padding: 10px 40px 50px;
	margin: 0 -20px;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-size: 1.1em;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -20px;
}

.gallery figure {
	flex: 1 1 200px;
	margin: 20px;
}

table, td, th {
	border: 1px solid #192B1A;
	border-collapse: collapse;
}

td, th {
	padding: 10px 5px;
	color: #0A110A;
}

th {
	text-align: left;
	padding: 10px;
}

thead th {
	font-size: 1.1em;
	text-align: center;
	background: #64AD66;
	color: #D8EBD9;
}

tr:nth-child(2n) {
	background: #F0F7F0;
}

form {
	max-width: 500px;
	margin: 0 auto;
}

form input, form label {
	display: block;
	width: 100%;
	font-size: 1.2em;
}

input {
	padding: 5px 10px;
	line-height: 1.5;
}

form label {
	padding: 10px 0;
	font-weight: bold;
}

button {
	margin-top: 20px;
	padding: 10px 15px;
	font-size: 1.2em;
	background: #9440A0;
	border: 2px solid #9440A0;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

button:hover, button:focus {
	background: #fff;
	color: #9440A0;
}

details {
	
	padding: 10px 30px;
}

details[open] {
	background: #F1EFF9;
}

summary {
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
	margin: 0 -20px;
}

footer {
	text-align: center;
	padding: 50px;
}